In [18]:
import pandas as pd
from sqlalchemy import create_engine

In [19]:
#Import CSV
csv_file = "Resources/economic_freedom_index_2019.csv"
econ_df = pd.read_csv(csv_file)
econ_df

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.60,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.00,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.90,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.30,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.20,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,...,Venezuela,31.4,$380.70,-14.0,-7.8,"$12,114",7.7,1087.5,-68,34.9
182,180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,...,Vietnam,93.6,$647.40,6.8,6.2,"$6,913",2.1,3.5,"14,100.00",58.2
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30,$38.60,-13.8,-16.1,"$1,287",14,4.9,-269.9,141.0
184,182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,...,Zambia,17.2,$68.90,3.6,4.0,"$3,996",7.8,6.6,"1,091.20",62.2
185,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,...,Zimbabwe,14.9,$34.00,3.0,2.6,"$2,283",5,1.3,289.4,78.4

In [20]:
econ_df.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.60,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.00,3.9,2.5,"$12,507",13.9,2.0,"1,119.10",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.90,2.0,3.1,"$15,237",10,5.6,"1,203.00",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.30,0.7,2.9,"$6,753",8.2,31.7,"-2,254.50",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.20,2.9,0.7,"$20,876",8.7,25.7,"11,857.00",52.6

In [21]:
# drop columns

columns = ['Country Name', 'World Rank','Population (Millions)', 'GDP (Billions, PPP)','Inflation (%)', 'Unemployment (%)']

econ_df_2 = econ_df[columns].copy()
econ_df_2

,Country Name,World Rank,Population (Millions),"GDP (Billions, PPP)",Inflation (%),Unemployment (%)
0,Afghanistan,152.0,35.5,$69.60,5.0,8.8
1,Albania,52.0,2.9,$36.00,2.0,13.9
2,Algeria,171.0,41.5,$632.90,5.6,10
3,Angola,156.0,28.2,$190.30,31.7,8.2
4,Argentina,148.0,44.1,$920.20,25.7,8.7
...,...,...,...,...,...,...
181,Venezuela,179.0,31.4,$380.70,1087.5,7.7
182,Vietnam,128.0,93.6,$647.40,3.5,2.1
183,Yemen,NaN,30,$38.60,4.9,14
184,Zambia,138.0,17.2,$68.90,6.6,7.8
185,Zimbabwe,175.0,14.9,$34.00,1.3,5

In [22]:
# rename columns

econ_df_3 = econ_df_2.rename(columns={"Country Name": "country_name",
                                "World Rank": "world_rank",
                                "Population (Millions)": "population",
                                "GDP (Billions, PPP)": "total_gdp",
                                "Inflation (%)": "inflation",
                                "Unemployment (%)":"unemployment",
                                    
                                                                               })
econ_df_3.head()

  country_name  world_rank population total_gdp  inflation unemployment
0  Afghanistan       152.0       35.5   $69.60         5.0          8.8
1      Albania        52.0        2.9   $36.00         2.0         13.9
2      Algeria       171.0       41.5  $632.90         5.6           10
3       Angola       156.0       28.2  $190.30        31.7          8.2
4    Argentina       148.0       44.1  $920.20        25.7          8.7

In [23]:
# set index
econ_df_3.set_index("country_name", inplace=True)

In [24]:
econ_df_3

              world_rank population total_gdp  inflation unemployment
country_name
Afghanistan        152.0       35.5   $69.60         5.0          8.8
Albania             52.0        2.9   $36.00         2.0         13.9
Algeria            171.0       41.5  $632.90         5.6           10
Angola             156.0       28.2  $190.30        31.7          8.2
Argentina          148.0       44.1  $920.20        25.7          8.7
...                  ...        ...       ...        ...          ...
Venezuela          179.0       31.4  $380.70      1087.5          7.7
Vietnam            128.0       93.6  $647.40         3.5          2.1
Yemen                NaN         30   $38.60         4.9           14
Zambia             138.0       17.2   $68.90         6.6          7.8
Zimbabwe           175.0       14.9   $34.00         1.3            5

[186 rows x 5 columns]

In [25]:
# get rid of $ and ,
econ_df_3['total_gdp'] = econ_df_3['total_gdp'].str.replace(',', '').str.replace('$', '').astype(float)

<ipython-input-25-717fb5a31f01>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  econ_df_3['total_gdp'] = econ_df_3['total_gdp'].str.replace(',', '').str.replace('$', '').astype(float)

In [16]:
#econ_df.replace({"40.0 (2015 est.)":40.0}, inplace=True)

In [27]:
#write to csv
econ_df_3.to_csv("Resources/economics.csv", index=True, header=True)