In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Import CSV
csv_file = "Resources/2019.csv"
happy_df = pd.read_csv(csv_file)
happy_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
#Drop Columns
happy_columns = ['Country or region','Score','GDP per capita','Social support','Healthy life expectancy','Generosity','Perceptions of corruption']

happy_df_2= happy_df[happy_columns].copy()
happy_df_2

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Generosity,Perceptions of corruption
0,Finland,7.769,1.340,1.587,0.986,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.322,0.298
...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.202,0.091

In [4]:
#Rename columns
happy_df_3 = happy_df_2.rename(columns={"Country or region": "country_name",
                                "Score": "happy_score",
                                "GDP per capita": "gdp_per_capita",
                                "Social support": "social_support",
                                "Healthy life expectancy": "life_expectancy",
                                "Generosity":"generosity",
                                "Perceptions of corruption": "perception_of_corruption"     
                                                                               })
happy_df_3.head()

,country_name,happy_score,gdp_per_capita,social_support,life_expectancy,generosity,perception_of_corruption
0,Finland,7.769,1.340,1.587,0.986,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.322,0.298

In [5]:
#set index
happy_df_3.set_index("country_name", inplace=True)

In [6]:
happy_df_3

,happy_score,gdp_per_capita,social_support,life_expectancy,generosity,perception_of_corruption
country_name,,,,,,
Finland,7.769,1.340,1.587,0.986,0.153,0.393
Denmark,7.600,1.383,1.573,0.996,0.252,0.410
Norway,7.554,1.488,1.582,1.028,0.271,0.341
Iceland,7.494,1.380,1.624,1.026,0.354,0.118
Netherlands,7.488,1.396,1.522,0.999,0.322,0.298
...,...,...,...,...,...,...
Rwanda,3.334,0.359,0.711,0.614,0.217,0.411
Tanzania,3.231,0.476,0.885,0.499,0.276,0.147
Afghanistan,3.203,0.350,0.517,0.361,0.158,0.025
Central African Republic,3.083,0.026,0.000,0.105,0.235,0.035
South Sudan,2.853,0.306,0.575,0.295,0.202,0.091

In [8]:
#write to csv
happy_df_3.to_csv("Resources/happy.csv", index=True, header=True)