In [1]:
import pandas as pd

In [2]:
#Import CSVs
csv_file = "Resources/economics.csv"
econ_df = pd.read_csv(csv_file)
econ_df

    country_name  world_rank population  total_gdp  inflation unemployment
0    Afghanistan       152.0       35.5       69.6        5.0          8.8
1        Albania        52.0        2.9       36.0        2.0         13.9
2        Algeria       171.0       41.5      632.9        5.6           10
3         Angola       156.0       28.2      190.3       31.7          8.2
4      Argentina       148.0       44.1      920.2       25.7          8.7
..           ...         ...        ...        ...        ...          ...
181    Venezuela       179.0       31.4      380.7     1087.5          7.7
182      Vietnam       128.0       93.6      647.4        3.5          2.1
183        Yemen         NaN         30       38.6        4.9           14
184       Zambia       138.0       17.2       68.9        6.6          7.8
185     Zimbabwe       175.0       14.9       34.0        1.3            5

[186 rows x 6 columns]

In [3]:
# set index
econ_df.set_index("country_name", inplace=True)

In [4]:
econ_df

              world_rank population  total_gdp  inflation unemployment
country_name
Afghanistan        152.0       35.5       69.6        5.0          8.8
Albania             52.0        2.9       36.0        2.0         13.9
Algeria            171.0       41.5      632.9        5.6           10
Angola             156.0       28.2      190.3       31.7          8.2
Argentina          148.0       44.1      920.2       25.7          8.7
...                  ...        ...        ...        ...          ...
Venezuela          179.0       31.4      380.7     1087.5          7.7
Vietnam            128.0       93.6      647.4        3.5          2.1
Yemen                NaN         30       38.6        4.9           14
Zambia             138.0       17.2       68.9        6.6          7.8
Zimbabwe           175.0       14.9       34.0        1.3            5

[186 rows x 5 columns]

In [5]:
econ_list = list(econ_df.index.values)
econ_list

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cabo Verde',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Democratic Republic of the Congo',
 'Congo, Republic of',
 'Costa Rica',
 "C�te d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Korea, North ',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'S�o Tom� and Pr�ncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan ',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [6]:
len(econ_list)

186

In [7]:
#Import CSVs
csv_file = "Resources/happy.csv"
happy_df = pd.read_csv(csv_file)
happy_df

,country_name,happy_score,gdp_per_capita,social_support,life_expectancy,generosity,perception_of_corruption
0,Finland,7.769,1.340,1.587,0.986,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.322,0.298
...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.217,0.411
152,Tanzania,3.231,0.476,0.885,0.499,0.276,0.147
153,Afghanistan,3.203,0.350,0.517,0.361,0.158,0.025
154,Central African Republic,3.083,0.026,0.000,0.105,0.235,0.035
155,South Sudan,2.853,0.306,0.575,0.295,0.202,0.091

In [8]:
# set index
happy_df.set_index("country_name", inplace=True)

In [9]:
happy_list = list(happy_df.index.values)
happy_list

['Finland',
 'Denmark',
 'Norway',
 'Iceland',
 'Netherlands',
 'Switzerland',
 'Sweden',
 'New Zealand',
 'Canada',
 'Austria',
 'Australia',
 'Costa Rica',
 'Israel',
 'Luxembourg',
 'United Kingdom',
 'Ireland',
 'Germany',
 'Belgium',
 'United States',
 'Czech Republic',
 'United Arab Emirates',
 'Malta',
 'Mexico',
 'France',
 'Taiwan',
 'Chile',
 'Guatemala',
 'Saudi Arabia',
 'Qatar',
 'Spain',
 'Panama',
 'Brazil',
 'Uruguay',
 'Singapore',
 'El Salvador',
 'Italy',
 'Bahrain',
 'Slovakia',
 'Trinidad & Tobago',
 'Poland',
 'Uzbekistan',
 'Lithuania',
 'Colombia',
 'Slovenia',
 'Nicaragua',
 'Kosovo',
 'Argentina',
 'Romania',
 'Cyprus',
 'Ecuador',
 'Kuwait',
 'Thailand',
 'Latvia',
 'South Korea',
 'Estonia',
 'Jamaica',
 'Mauritius',
 'Japan',
 'Honduras',
 'Kazakhstan',
 'Bolivia',
 'Hungary',
 'Paraguay',
 'Northern Cyprus',
 'Peru',
 'Portugal',
 'Pakistan',
 'Russia',
 'Philippines',
 'Serbia',
 'Moldova',
 'Libya',
 'Montenegro',
 'Tajikistan',
 'Croatia',
 'Hong Kong',
 'Dominican Republic',
 'Bosnia and Herzegovina',
 'Turkey',
 'Malaysia',
 'Belarus',
 'Greece',
 'Mongolia',
 'North Macedonia',
 'Nigeria',
 'Kyrgyzstan',
 'Turkmenistan',
 'Algeria',
 'Morocco',
 'Azerbaijan',
 'Lebanon',
 'Indonesia',
 'China',
 'Vietnam',
 'Bhutan',
 'Cameroon',
 'Bulgaria',
 'Ghana',
 'Ivory Coast',
 'Nepal',
 'Jordan',
 'Benin',
 'Congo (Brazzaville)',
 'Gabon',
 'Laos',
 'South Africa',
 'Albania',
 'Venezuela',
 'Cambodia',
 'Palestinian Territories',
 'Senegal',
 'Somalia',
 'Namibia',
 'Niger',
 'Burkina Faso',
 'Armenia',
 'Iran',
 'Guinea',
 'Georgia',
 'Gambia',
 'Kenya',
 'Mauritania',
 'Mozambique',
 'Tunisia',
 'Bangladesh',
 'Iraq',
 'Congo (Kinshasa)',
 'Mali',
 'Sierra Leone',
 'Sri Lanka',
 'Myanmar',
 'Chad',
 'Ukraine',
 'Ethiopia',
 'Swaziland',
 'Uganda',
 'Egypt',
 'Zambia',
 'Togo',
 'India',
 'Liberia',
 'Comoros',
 'Madagascar',
 'Lesotho',
 'Burundi',
 'Zimbabwe',
 'Haiti',
 'Botswana',
 'Syria',
 'Malawi',
 'Yemen',
 'Rwanda',
 'Tanzania',
 'Afghanistan',
 'Central African Republic',
 'South Sudan']

In [10]:
len(happy_list)

156

In [11]:
#Import CSVs
csv_file = "Resources/country_info.csv"
country_df = pd.read_csv(csv_file)
country_df

          country_name   region        subregion       area
0          Afghanistan     Asia    Southern Asia   652230.0
1        Åland Islands   Europe  Northern Europe     1580.0
2              Albania   Europe  Southern Europe    28748.0
3              Algeria   Africa  Northern Africa  2381741.0
4       American Samoa  Oceania        Polynesia      199.0
..                 ...      ...              ...        ...
245  Wallis and Futuna  Oceania        Polynesia      142.0
246     Western Sahara   Africa  Northern Africa   266000.0
247              Yemen     Asia     Western Asia   527968.0
248             Zambia   Africa   Eastern Africa   752612.0
249           Zimbabwe   Africa   Eastern Africa   390757.0

[250 rows x 4 columns]

In [12]:
# set index
country_df.set_index("country_name", inplace=True)

In [13]:
country_list = list(country_df.index.values)
country_list

['Afghanistan',
 'Åland Islands',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'The Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire',
 'Bosnia and Herzegovina',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'British Indian Ocean Territory',
 'United States Minor Outlying Islands',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Colombia',
 'Comoros',
 'Republic of the Congo',
 'Democratic Republic of the Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'French Southern and Antarctic Lands',
 'Gabon',
 'The Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heard Island and McDonald Islands',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Ivory Coast',
 'Iran',
 'Iraq',
 'Republic of Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macau',
 'Republic of Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Federated States of Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Norfolk Island',
 'North Korea',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Pitcairn Islands',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Kosovo',
 'Réunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthélemy',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'São Tomé and Príncipe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Georgia',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'East Timor',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [14]:
len(country_list)

250

In [15]:
lst3 = [value for value in econ_list if value in happy_list]

In [16]:
lst4 = [value for value in country_list if value in lst3]

In [17]:
[value for value in lst3 if value not in econ_list]

[]

In [18]:
lst4

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Syria',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [19]:
country_df.loc[lst4,:].to_csv("Resources/country_140.csv", index=True, header=True)

In [21]:
econ_df.loc[lst4,:].to_csv("Resources/economics_140.csv", index=True, header=True)

In [ ]:
happy_df.loc[lst4,:].to_csv("Resources/happy_140.csv", index=True, header=True)